body {
	background-color: #191919;
	color: #FFFFFFB2;
	margin: 0;
	font-family: 'Rubik', sans-serif;
	font-weight: 400px;
}

h1 {
	font-size: 52px;
	color: #fff;
	justify-content: center;
	text-align: center;
	height: 40vh;
	padding-top: 250px;
}

.home {
	animation: poiv 0.5s linear forwards;
}

@keyframes poiv {
	0% {
		transform: scale(0.4);
	}

	50% {
		transform: scale(0.7);
	}

	100% {
		transform: scale(1);
	}
}